# Archivos de configuración de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/

# Archivos de configuración de la aplicación
appsettings.Development.json
appsettings.json

# Archivos de caché de NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
project.assets.json
*.nuget.g.props
*.nuget.g.targets
*.dgspec.json

# Archivos de paquetes
*.nupkg
*.snupkg

# Archivos de rastreo de Visual Studio
*.pdb
*.mdb

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de sistema
.DS_Store
Thumbs.db
